{% extends 'base.html' %}

{% block content %}
<h1>Dashboard</h1>
<h4> Data resume at table</h4>

<table id="data" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th class="myclass">Age</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.name }}</td>
      <td class="myclass">{{ user.age }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<img src="/grafico.svg">

{% endblock %}